/* *{
    outline: 1px solid #f00 !important
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.board{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vh;
    height: 80vh;
}

.row{
    width: 100%;
    height: 33.2%;
}

.board-tile{
    --main-border: 1px solid black;
    
    float: left;
    width: 33%;
    height: 100%;
    background-color: aqua;
    border: 1px solid aqua;
}

#top-center{
    border-right: var(--main-border);
    border-left: var(--main-border);
    border-bottom: var(--main-border);
}

#bottom-center{
    border-right: var(--main-border);
    border-left: var(--main-border);
    border-top: var(--main-border);
}

#center-left{
    border-right: var(--main-border);
    border-bottom: var(--main-border);
    border-top: var(--main-border);
}

#center-right{
    border-left: var(--main-border);
    border-bottom: var(--main-border);
    border-top: var(--main-border);
}